build/
managed_components/
compile_commands.json
sdkconfig
sdkconfig.old
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.lst
.vscode/c_cpp_properties.json
.vscode/settings.json
.cache/
.clangd
CMakeFiles/
CMakeCache.txt
